@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<ul>
    @foreach(var item in Model){
        <li>@item.Name</li>
    }
</ul>

<p>Use this area to provide additional information.</p>
