@using ASPNetMVCTesting.Models
@using System.Collections.Generic
@model IEnumerable<Course>

<div>
 <ul>
    @foreach(Course course in Model){
        <li>
            <span style="color: red">@course.Name</span> @course.Professor
        </li>
        <ul>
            @foreach(Exam exam in course.Exams){
                <li>
                    <span style="color: blue">@exam.ExamDate</span>
                </li>
            }
        </ul>
    }

 </ul>   
 <a href="/Home/New">Add new course</a>
</div>